:root {
  --progressBar: #54d1db;
}

body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%237affff' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

/* Overrides default styled accordion styles (too much bottom padding) */
.ui.styled.accordion .content {
  margin: 0;
  padding: 0.5em 1em 0.75em !important;
}

.profile-container {
  position: relative;
  display: inline-block;
}

.profile-icon {
  position: absolute;
  cursor: pointer;
  bottom: 0;
  right: 0;
  font-size: 1.5rem !important;
}

input[type='file'] {
  display: none;
}

.ui.menu {
  border-radius: initial;
}

@media only screen and (max-width: 767px) {
  .ui.items:not(.unstackable) > .item > .image {
    max-height: 100% !important;
  }
}

#mobile-menu {
  display: none;
}

#mobile-menu-items {
  display: none;
}

@media screen and (max-width: 767px) {
  #mobile-menu {
    display: block;
  }
  #mobile-menu-items {
    display: block;
  }
  #desktop-menu {
    display: none;
  }
  .ui.menu {
    margin: 0;
  }
}

.title_wrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.description-wrap {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
