:root {
  --bodyBg: #f0f4f8;
  --menuBg: #334d68;
  --progressBar: #54d1db;
}

body {
  background: var(--bodyBg);
}

#menu {
  background: var(--menuBg);
}

/* Overrides default styled accordion styles (too much bottom padding) */
.ui.styled.accordion .content {
  margin: 0;
  padding: 0.5em 1em 0.75em !important;
}

.profile-container {
  position: relative;
  display: inline-block;
}

.profile-icon {
  position: absolute;
  cursor: pointer;
  bottom: 0;
  right: 0;
  font-size: 1.5rem !important;
}

.ui.modal {
  transform-origin: 50% 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

@media only screen and (max-width: 767px) {
  .ui.items:not(.unstackable) > .item > .image {
    max-height: 100% !important;
  }
}
